<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lirs.bysj.MapperDao.UserinfoMapper" >
  
  <select id="selectAlluserinfo" resultMap="BaseResultMap"> 
     select ui.*,u.* from userinfo ui,user u where ui.u_id=u.u_id
  </select>
    
  <select id="selectByFy" resultMap="BaseResultMap" parameterType="Map">
		SELECT *
		FROM userinfo
		<if test="a!=null">
			<where> 
				<if test="phone!=null and phone!=''"> ui_phone=#{phone}</if>
				<if test="name!=null and name!=''"> or ui_rname=#{name}</if>
			</where>
			LIMIT #{a},#{b}
		</if>
	</select>
	
  
  <!-- 根据分页数据start 和size查询数据 -->
	<select id="findByPage" parameterType="Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from userinfo
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<!-- 查询用户记录总数 -->
	<select id="selectCount" resultType="int">
		select count(*) from userinfo
	</select>
	
	
  
  <!-- 定义userinfo结果集 -->
  <resultMap id="BaseResultMap" type="com.lirs.bysj.pojo.Userinfo" >
    <id column="ui_id" property="uiId" jdbcType="INTEGER" />
    <result column="ui_rname" property="uiRname" jdbcType="VARCHAR" />
    <result column="ui_adress" property="uiAdress" jdbcType="VARCHAR" />
    <result column="ui_phone" property="uiPhone" jdbcType="VARCHAR" />
    <result column="ui_score" property="uiScore" jdbcType="INTEGER" />
    <!-- 实现一对一 -->
    	<association property="user" javaType="com.lirs.bysj.pojo.User">
    	    <id column="u_id" property="uId" jdbcType="INTEGER" />
		    <result column="usernumber" property="usernumber" jdbcType="INTEGER" />
		    <result column="userpwd" property="userpwd" jdbcType="VARCHAR" />
		    <result column="name" property="name" jdbcType="VARCHAR" />
		    <result column="time" property="time" jdbcType="VARCHAR" />
		    <result column="type" property="type" jdbcType="INTEGER" />
    	</association>
  </resultMap>
  
  
  
  
  <sql id="Base_Column_List" >    
    ui_id, ui_rname, ui_adress, ui_phone, ui_score, u_id
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where ui_id = #{uiId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    
    delete from userinfo
    where ui_id = #{uiId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lirs.bysj.pojo.Userinfo" >
   
    insert into userinfo (ui_id, ui_rname, ui_adress, 
      ui_phone, ui_score, u_id
      )
    values (#{uiId,jdbcType=INTEGER}, #{uiRname,jdbcType=VARCHAR}, #{uiAdress,jdbcType=VARCHAR}, 
      #{uiPhone,jdbcType=VARCHAR}, #{uiScore,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lirs.bysj.pojo.Userinfo" >
    
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uiId != null" >
        ui_id,
      </if>
      <if test="uiRname != null" >
        ui_rname,
      </if>
      <if test="uiAdress != null" >
        ui_adress,
      </if>
      <if test="uiPhone != null" >
        ui_phone,
      </if>
      <if test="uiScore != null" >
        ui_score,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uiId != null" >
        #{uiId,jdbcType=INTEGER},
      </if>
      <if test="uiRname != null" >
        #{uiRname,jdbcType=VARCHAR},
      </if>
      <if test="uiAdress != null" >
        #{uiAdress,jdbcType=VARCHAR},
      </if>
      <if test="uiPhone != null" >
        #{uiPhone,jdbcType=VARCHAR},
      </if>
      <if test="uiScore != null" >
        #{uiScore,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lirs.bysj.pojo.Userinfo" >
   
    update userinfo
    <set >
      <if test="uiRname != null" >
        ui_rname = #{uiRname,jdbcType=VARCHAR},
      </if>
      <if test="uiAdress != null" >
        ui_adress = #{uiAdress,jdbcType=VARCHAR},
      </if>
      <if test="uiPhone != null" >
        ui_phone = #{uiPhone,jdbcType=VARCHAR},
      </if>
      <if test="uiScore != null" >
        ui_score = #{uiScore,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
    </set>
    where ui_id = #{uiId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lirs.bysj.pojo.Userinfo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jul 18 16:38:31 CST 2017.
    -->
    update userinfo
    set ui_rname = #{uiRname,jdbcType=VARCHAR},
      ui_adress = #{uiAdress,jdbcType=VARCHAR},
      ui_phone = #{uiPhone,jdbcType=VARCHAR},
      ui_score = #{uiScore,jdbcType=INTEGER},
      u_id = #{uId,jdbcType=INTEGER}
    where ui_id = #{uiId,jdbcType=INTEGER}
  </update>
</mapper>